<xml>
  <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
  <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
  <CreateTime><%= Time.now.to_i %></CreateTime>
  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>1</ArticleCount>
  <Articles>
  <item>
    <Title><![CDATA[核酸纯化试剂盒~产品目录及报价]]></Title> 
    <Description><![CDATA[点击访问，即可获得产品目录及报价]]></Description>
    <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/U9G2U6qphFic2OvibGnw3UlRcgSCcEIVbqwT9Kfp1pibPGuibnqbEj5QO76633ibN6IgRSx2CveoVeg3ZWHkylp3EZA/0?wx_fmt=jpeg]]></PicUrl>
    <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208265054&idx=6&sn=2f9fdafe8a2dfee6cf4b6e3fc9eb2426&scene=18#rd]]></Url>
    </item>
    <item>
  </Articles>
</xml>