<xml>
  <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
  <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
  <CreateTime><%= Time.now.to_i %></CreateTime>
  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>7</ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[英芮诚·小师妹行动第一期]]></Title>
      <Description><![CDATA[磁珠法·核酸纯化试剂盒~~免费派！]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8IFy00DqP8tGzPaj5Y9hAR6icZQcWgu1IXAgDAwJ0FWN22JvDBT4ZChwQ/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=1&sn=d8521ae1a892ca07c14f44eece9799f8#rd]]></Url>
    </item>

    <item>
      <Title><![CDATA[暑期免费派！]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8IMdPFqIkNJfqVR1wib19sq3oUosROicFubgJvTw39ibqUsB5YFIBb3gOicA/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=2&sn=51740e80c8221ef4e525b1eca6e75b24#rd]]></Url>
    </item>

    <item>
      <Title><![CDATA[效果----要你好看！]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8IUFrwHm5FfkyhSBxhUILLDGYCvaIgOhNES9al3zEVqlQDVcibibrd7ia8g/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=3&sn=63071b9e95d97866f1e0d2d8cf069579#rd]]></Url>
    </item>

    <item>
      <Title><![CDATA[真正的免费！]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8IfxkZe1ZlrkA2BdNVic6zQSZLQTZbtpUlfkmSHeLYVd1Udkd0Nvyyiarg/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=4&sn=4f2473706c3aeed681893222d730fbf9#rd]]></Url>
    </item>

    <item>
      <Title><![CDATA[超高性价比]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8I7BbBqHaaSyh7BbtLfItdlxQUlAZaMUd4r4a9mVdcyEWqFE41MqXF0g/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=5&sn=7438e9b2c34a326d7018bcaa6dd96624#rd]]></Url>
    </item>

    <item>
      <Title><![CDATA[微信积分，以礼相待！]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8Iyticjibuy8fOaJiaNu6NGLlDeePzq9MiaZc1oX177xps5On8bqahXPcgJw/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=6&sn=ea4ca7e153e28be711793ce3fc775259#rd]]></Url>
    </item>

    <item>
      <Title><![CDATA[领取方式]]></Title> 
      <Description><![CDATA[]]></Description>
      <PicUrl><![CDATA[http://mmbiz.qpic.cn/mmbiz/U9G2U6qphF90VUSTKS6ribZmNxuyziar8IZJgb7TlvZKN9VEnSdWUCYgfOwia4Xib52XWVmALmaeBZ4mA9Sn5Gia7mA/640?wx_fmt=jpeg&tp=webp&wxfrom=5]]></PicUrl>
      <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzIxOTAyMTk4Nw==&mid=208459231&idx=7&sn=fd90ec5e1d514ea7c475e6f19da4ec77#rd]]></Url>
    </item>
  </Articles>
</xml>